.container > div {
  height: 100%;
  background: white;
  overflow: auto;
  outline: none !important;
  /* box-shadow: inset 5px 0px 15px rgb(209, 209, 209); */
}

.container *{
  font-size: 8pt !important;
}