@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
  --selected-instrument: white;
  --modal-filter: "";
}

#root {
  height: 100vh;
  display: flex;
}

body {
  padding: 0px;
  margin: 0px;
  height: 100vh;
  overflow: hidden;
  font-family: gas;
}
input, textarea{
  outline: none !important;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgb(229, 229, 229) rgb(224, 224, 224,0);
}

@font-face {
  font-family: "gas";
  src: url("./assets/gas.ttf");
}