@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
  --selected-color: white;
  --modal-filter: "";
}

#root {
  height: 100vh;
  display: flex;
}

body {
  padding: 0px;
  margin: 0px;
}
input, textarea{
  outline: none !important;
}

* {
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: white rgba(0,0,0,0); /* scroll thumb and track */
}

::-webkit-scrollbar {
  height: 12px;
  width: 6px;
  background: rgba(0,0,0,0);
}

::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0);
}

::-webkit-scrollbar-corner {
  background: rgba(0,0,0,0);
}
